[Unit]
Requires=funkwhale-api.service
After=funkwhale-api.service

[Container]
Image=funkwhale/front@sha256:4fda3530dc18d98cebed65af6f460c406a0b08d4bcf3dd5daa47928ed01555d5
Pod=funkwhale.pod
EnvironmentFile=/etc/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env
Volume=funkwhale-music:/music:ro
Volume=funkwhale-media:/media:ro
Volume=funkwhale-static:/usr/share/nginx/html/staticfiles:ro

[Service]
Restart=always
