[Unit]
Requires=funkwhale-postgres.service funkwhale-redis.service
After=funkwhale-postgres.service funkwhale-redis.service

[Container]
Image=funkwhale/api@sha256:1ea41985ef17a4a9b3d0512df2c48b45d5b8c330e01b12cdf2947b98be6cd9d3
Pod=funkwhale.pod
EnvironmentFile=/etc/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env
Volume=funkwhale-music:/music:ro
Volume=funkwhale-media:/media
Volume=funkwhale-static:/static

[Service]
Restart=always
