[Unit]
Requires=funkwhale-api.service
After=funkwhale-api.service

[Container]
Image=funkwhale/front:2.0.3
Pod=funkwhale.pod
EnvironmentFile=/etc/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env
Volume=%h/.local/mnt/funkwhale-music:/music:z,ro
Volume=%h/.local/mnt/funkwhale-media:/media:z,ro
Volume=funkwhale-static:/usr/share/nginx/html/staticfiles:ro

[Service]
Restart=always
