[Container]
Image=docker.io/library/nginx
Pod=funkwhale.pod

# Funkwhale config
EnvironmentFile=/etc/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env

# Nginx config
Volume=/etc/funkwhale-nginx.template:/etc/nginx/templates/default.conf.template:ro
Volume=/etc/funkwhale_proxy.conf:/etc/nginx/funkwhale_proxy.conf:ro

# Certificates
Volume=%h/.local/share/funkwhale/certs/fullchain.pem:/etc/letsencrypt/live/funkwhale.funkwhale/fullchain.pem:Z,ro
Volume=%h/.local/share/funkwhale/certs/privkey.pem:/etc/letsencrypt/live/funkwhale.funkwhale/privkey.pem:Z,ro

[Service]
Restart=always
